<div class="flex justify-center align-center mt-20 h-70v m-8">
  <main class="bg-gray-100 flex justify-between flex-col pb-20 max-w-1/2 h-75 border-c-primary border-4 rounded-2xl">
    <div class="p-4 flex justify-left flex-col">
      <h1 class="font-bold mb-3 text-3xl">About us</h1>
      <p class="text-4xl">
        Our group consisted of David Harboyan, Kevin Delgado, Oliver Escalante, and Jack Drake.
        David worked on the sign up page, about page, and the main page.
        Kevin worked on the landing page, main page, formatting of pages, as well as general
        CSS changes.
        Oliver worked on the log in page, main page and got a majority of remake up and running.
        Jack initally worked on the wireframes, which our pages are based on, as well as
        the about us page.
      </p>

    </div>
    <div class="flex justify-center gap-20">
      <a class="" href="https://github.com/dharbo/cpsc349-project2">
        <div class="card w-96 border-c-primary border-4 m-4">
          <div class="card-body p-4">
            <h2 class="card-title text-3xl border-b-4 mb-14 justify-center">David Harboyan</h2>
            <img class="rounded-full" src="../assets/images/dharbo.png" alt="Group Member">
          </div>
        </div>
      </a>

      <a class="" href="https://github.com/KevinDelgad/cpsc349-project2">
        <div class="card w-96 border-c-primary border-4 m-4">
          <div class="card-body p-4">
            <h2 class="card-title text-3xl border-b-4 mb-14 justify-center">Kevin Delgado</h2>
            <img class="rounded-full" src="../assets/images/kevinDel.png" alt="Group Member">
          </div>
        </div>
      </a>

      <a class="" href="https://github.com/misterpurple98/cpsc349-project2">
        <div class="card w-96 border-c-primary border-4 m-4">
          <div class="card-body p-4">
            <h2 class="card-title text-3xl border-b-4 mb-14 justify-center">Oliver Escalante</h2>
            <img class="rounded-full" src="../assets/images/misterPurple.jpeg" alt="Group Member">
          </div>
        </div>
      </a>

      <a class="" href="https://github.com/Jack-Drake">
        <div class="card w-96 border-c-primary border-4 m-4">
          <div class="card-body p-4">
            <h2 class="card-title text-3xl border-b-4 mb-14 justify-center">Jack Drake</h2>
            <img class="rounded-full" src="../assets/images/Jack.jpeg" alt="Group Member">
          </div>
        </div>
      </a>
    </div>
  </main>
</div>