<header>
  <nav>
    <div class="navbar bg-base-100 h-48">
      <div class="flex-1">
        <img class="object-fill h-48 w-48" src="../assets/images/logo-placeholder-image.png" alt="">  
      </div>
      <div class="flex-none w-2/5 justify-end">
        <ul class="menu menu-horizontal p-0 space-x-20"> 
          <li class="text-c-primary font-bold text-4xl"><a>Login</a></li>
          <li class="btn rounded-full h-24 bg-c-primary sm:text-4xl lg:text-4xl"><a>Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section>
  <div class="flex flex-col items-center gap-9 h-fit">
    <div><h1 class="text-6xl font-bold text-c-primary">Your New Fitness Logger!</h1></div>
    <div class=""><img class="rounded-lg w-4800 h-auto" src="../assets/images/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" alt="placeholder image"></div>
    <div>
      <ul  class="btn rounded-full h-24 bg-c-primary">
        {{#if currentUser}}
          <li><a href="/{{currentUser.details.username}}">Go to your dashboard</a></li>
        {{else}}
          <li><a class="text-3xl p-8" href="/user/signup">Get Started</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</section>