<section>
  <div class="flex flex-col items-center gap-9 h-fit">
    <div><h1 class="text-6xl font-bold text-c-primary">Your New Fitness Logger!</h1></div>
    <div class=""><img class="rounded-lg w-4800 h-auto" src="../assets/images/1f4d8ea7-e9d9-48b7-b70c-819482fb10fb-cover.png" alt="placeholder image"></div>
    <div>
      <ul  class="btn rounded-full h-24 bg-c-primary">
        {{#if currentUser}}
          <li><a href="/{{currentUser.details.username}}">Go to your dashboard</a></li>
        {{else}}
          <li><a class="text-3xl p-8" href="/user/signup">Get Started</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</section>