<div class="h-screen flex flex-col">
  <main class="flex flex-col flex-1 pb-52 items-center gap-12  ">
      <div>
        <h1 class="text-5xl font-bold text-c-primary">Your New Fitness Logger!</h1>
      </div>

      <div class="flex flex-1 w-4/5 justify-center items-center">
        <img class="rounded-lg max-h-full h-full" src="../assets/images/demo.png" alt="placeholder image">
      </div>

      <div>
        <ul  class="btn rounded-full h-20 bg-c-primary">
          {{#if currentUser}}
            <li><a  class="text-2xl btn rounded-full h-10 bg-c-primary" href="/{{currentUser.details.username}}">Go to your dashboard</a></li>
          {{else}}
            <li><a class=" text-2xl btn rounded-full h-24 px-10 bg-c-primary" href="/user/signup">Get Started</a></li>
          {{/if}}
        </ul>
      </div>
  </main>
</div>