<main class="h-80v w-full flex justify-center items-center">
    <div class="flex h-2/4 w-2/6 ">
      <div class="card bg-card-primary text-primary-content flex flex-1 ">
        <div class="card-body w-full">
          <form action="/user/login" method="post" class="flex flex-1 flex-col justify-between pb-20">
            <h2 class="card-title text-black font-bold text-3xl h-1/6">Login</h2>
            <div class="flex flex-col h-3/6 gap-3">
              <input type="text" name="username" placeholder="Your username" class="text-black px-2.5 h-1/2 text-2xl rounded-lg" required>
              <input type="password" name="password" placeholder="Password" class="leading-loose mb-1 px-2.5 py-1 h-1/2 text-2xl rounded-lg" required>
            </div>
            <button type="submit" class="btn rounded-lg bg-pale-purple">Login</button>
          </form>
          <a class="text-black text-xl self-center" href="/forgot">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>
</main>