<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Journal</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/_remake.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
  {{#if currentUser}}
    <header>
      <nav>
        <div class="navbar bg-base-100 h-48">
          <div class="flex-1 m-5">
            <a href="./index">
              <img src="../../assets/images/icon.jpg" alt="" class="object-fill w-36">
            </a>
          </div>
          <div class="flex-none w-2/5 justify-end mr-5">
            <ul class="menu menu-horizontal p-0"> 
              <li class="text-c-primary font-bold text-3xl"><a href="/{{currentUser.details.username}}">Dashboard</a></li>
              <li class="text-c-primary font-bold text-3xl"><a href="/about">About us</a></li>
              <li class="text-c-primary font-bold text-3xl"><a href="/user/logout">Log out</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  {{else}}
    <header>
      <nav>
        <div class="navbar bg-base-100 h-48">
          <div class="flex-1 m-5">
            <a href="./index">
              <img src="../../assets/images/icon.jpg" alt="" class="object-fill w-36">
            </a>
          </div>
          <div class="flex-none w-2/5 justify-end mr-5">
            <ul class="menu menu-horizontal p-0 space-x-10"> 
              <li class="text-c-primary font-bold text-3xl"><a href="/about">About us</a></li>
              <li class="text-c-primary font-bold text-3xl"><a href="/user/login">Login</a></li>
              <li class="btn rounded-full h-20 bg-c-primary sm:text-3xl lg:text-3xl"><a href="/user/signup">Sign up</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  {{/if}}
  {{!-- Show errors --}}
  {{#if flashErrors }}
    {{#each flashErrors }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{!-- Show success messages --}}
  {{#if flashSuccesses }}
    {{#each flashSuccesses }}
      <div>{{ this }}</div>
    {{/each}}
  {{/if}}
  {{> yield }}
  {{#if isPageAuthor}}
    {{!-- Prevent loading the Remake framework if the page isn't editable --}}
    <script src="/assets/js/vendor/Sortable.min.js"></script>
    <script src="/assets/js/vendor/crostini.min.js"></script>
    <script src="/remake/js/remake.min.js"></script>
    <script src="/assets/js/remake-init.js"></script>
  {{/if}}
  <script src="/assets/js/main.js"></script>
</body>
</html>